body {
  margin: 0px;
  min-height: 100vh;
  font-family: 'Noto Sans', sans-serif;
  color: #fff;
}

body header {
  background-color: #263238;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

body header h1 {
  margin: 0px;
  padding: 15px 20px;
  font-size: 1.6rem;
  color: #ffff;
  letter-spacing: 3px;
}

@media only screen and (min-width: 1024px) {
  body header h1 {
    font-size: 2rem;
  }
}

body header img {
  height: 100px;
  margin-top: 10px;
}

@media only screen and (min-width: 1024px) {
  body header img {
    height: 110px;
  }
}

body header #social {
  margin-bottom: 15px;
}

body header #social a {
  text-decoration: none;
}

body header #social img {
  height: 25px;
  margin-left: 9px;
}

body header #social a:hover img {
  transform: scale(1.2);
  transition: all 0.5s;
}

body main {
  padding: 20px 10px;
}

body main #containerProyectos {
  padding: 10px 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

@media only screen and (min-width: 1024px) {
  body main #containerProyectos {
    grid-template-columns: repeat(4, 1fr);
  }
}

body main #containerProyectos .containerTile {
  display: block;
  text-decoration: none;
  transition: all 1s;
}

body main #containerProyectos .containerTile .tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: #fff;
  min-height: 100px;
}

body main #containerProyectos .containerTile .tile h3 {
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  body main #containerProyectos .containerTile .tile {
    min-height: 200px;
  }
}

body main #containerProyectos .containerTile:hover {
  transform: scale(1.1);
  transition: all 1s;
}

body footer {
  padding: 10px 15px;
  height: 100%;
  background-color: #263238;
  margin: 0px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  color: #fff;
}

body footer p {
  text-align: center;
  padding: 10px 15px;
}

body footer div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media only screen and (min-width: 1024px) {
  body footer div {
    margin-left: 50px;
  }
}

body footer div a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
}

body footer div p {
  color: #ECEFF1;
}

.violet {
  background-color: #7E57C2;
}

.pink {
  background-color: #EC407A;
}

.green {
  background-color: #26A69A;
}

.orange {
  background-color: #FFA726;
}

.deep-orange {
  background-color: #FF7043;
}

.brown {
  background-color: #8D6E63;
}

.gray {
  background-color: #BDBDBD;
}

.blue {
  background-color: #29B6F6;
}
