body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
}

body main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body main #containerTablero {
  width: auto;
  height: auto;
  border: 5px solid #00695C;
}

body main #containerTablero input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  width: 50px;
  height: 50px;
  color: #00695C;
  text-align: center;
  font-size: 1.7rem;
  *color: #fff;
  border: 1px solid #fff;
}

body main h1 {
  text-align: center;
  font-size: 3rem;
  color: #263238;
}

#spanError {
  padding: 15px;
  color: #E53935;
  font-size: 2rem;
}

#btnVolverJugar {
  min-height: 30px;
  min-width: 60px;
  border-width: 0px;
  padding: 8px;
  background: #009688;
  border-radius: 2px;
  font-size: 1.3rem;
  margin-bottom: 30px;
}
