body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body main div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #33691E;
}

body main div div select {
  height: 30px;
  font-size: 1.5rem;
  background-color: #33691E;
  border-radius: 3px;
  border-width: 0px;
  outline: none;
  color: #fff;
  text-align-last: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 10px;
  font-weight: bold;
}

body main div #containerTablero {
  width: auto;
  height: auto;
}

body main div #containerTablero input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  width: 50px;
  height: 50px;
  text-align: center;
  outline: none;
  font-size: 1.7rem;
  border-width: 0px;
  *color: #fff;
  *border: 1px solid #fff;
}

body main h1 {
  text-align: center;
  font-size: 3rem;
  color: #263238;
}

#spanError {
  padding: 15px;
  color: #E53935;
  font-size: 2rem;
  font-weight: bold;
}

#btnVolverJugar {
  min-height: 30px;
  min-width: 60px;
  border-width: 0px;
  padding: 10px;
  background: #33691E;
  color: #FFF;
  font-weight: bold;
  border-radius: 2px;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

#timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

#timer p {
  font-size: 1.5rem;
  margin: 0px;
  color: #fff;
}

#timer img {
  height: 30px;
}

*::selection {
  color: #263238;
}
