body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 968px) {
  body main div {
    *width: 100%;
  }
}

body main div button {
  width: 80%;
}

body main div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #4A148C;
}

body main div div select {
  height: 30px;
  font-size: 1.5rem;
  background-color: #4A148C;
  border-radius: 3px;
  border-width: 0px;
  outline: none;
  color: #fff;
  text-align-last: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 10px;
  font-weight: bold;
}

body main div #containerTablero {
  width: auto;
  height: auto;
  border: 0px;
  position: relative;
}

body main h1 {
  text-align: center;
  font-size: 3rem;
  color: #263238;
}

#tools {
  width: 100%;
  margin-bottom: 20px;
}

#tools button {
  width: 20%;
}

#containerActions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#containerActions img {
  height: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#span {
  padding: 15px;
  font-size: 1.6rem;
  font-weight: bold;
}

.muestraSpanVerde {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  min-width: 300px;
  position: absolute;
  color: #fff;
  background: #43A047;
  border-radius: 2px;
  bottom: 25%;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.muestraSpanRojo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  min-width: 300px;
  position: absolute;
  color: #fff;
  background: #FF525D;
  border-radius: 2px;
  bottom: 25%;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#btnVolverAjugar {
  min-height: 25px;
  min-width: 60px;
  border-width: 0px;
  padding: 10px;
  background: #6A1B9A;
  color: #FFF;
  font-weight: bold;
  border-radius: 2px;
  font-size: 1.3rem;
  margin-top: 20px;
}

#timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

#timer p {
  font-size: 1.5rem;
  margin: 0px;
  color: #fff;
}

#timer img {
  height: 30px;
}

#record {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-weight: bold;
  font-size: 1.3rem;
  color: #FFF;
}

#record img {
  margin-right: 5px;
}

#numBombas {
  font-weight: bold;
  font-size: 1.3rem;
  color: #FFF;
  margin-right: 20px;
}

#numBombas img {
  height: 30px;
  margin-right: 5px;
}

#numBanderas {
  font-weight: bold;
  font-size: 1.3rem;
  color: #FFF;
  margin-right: 15px;
}

#numBanderas img {
  height: 30px;
  margin-right: 5px;
}

.rojo {
  background: #FF525D;
  color: #FF525D;
}

.violet {
  background: #4A148C;
  color: #4A148C;
}

.blanco {
  background: #fff;
  color: #6A1B9A;
  font-weight: bold;
}

.amarillo {
  background: #FFD15C;
  color: #fff;
}

.inputFacil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  width: 50px;
  height: 50px;
  text-align: center;
  outline: none;
  font-size: 1.7rem;
  border-width: 0px;
  *color: #fff;
  border: 2px solid #6A1B9A;
}

.inputIntermedio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  width: 30px;
  height: 30px;
  text-align: center;
  outline: none;
  font-size: 1.3rem;
  border-width: 0px;
  *color: #fff;
  border: 2px solid #6A1B9A;
}

.inputExperto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  width: 20px;
  height: 20px;
  text-align: center;
  outline: none;
  font-size: 1.1rem;
  border-width: 0px;
  *color: #fff;
  border: 2px solid #6A1B9A;
}

.shadowMaterialButton {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadowMaterial {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.buttons-Swal button {
  background-color: #4a158c;
  color: #fff;
}

.swal-text {
  font-weight: bold;
}
