body {
  font-family: 'Lato', sans-serif;
  color: #fff;
  width: 100%;
  margin: 0px;
}

body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 100vh;
  width: 100%;
  margin: 0px;
  background: #26A69A;
}

body main h1 {
  padding-bottom: 10px;
  font-size: 2.7rem;
  color: #fff;
}

body main .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #009688;
  width: 35%;
  border-radius: 4px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.45);
}

body main .card label {
  padding: 7px;
  margin-right: 5px;
  font-weight: lighter;
  font-size: 1.3rem;
  color: #fff;
}

body main .card p {
  color: #00796B;
  font-weight: bold;
  font-size: 1.2rem;
}

body main .card p b {
  font-size: 1.3rem;
  color: #fff;
}

body main .card .campo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

body main .card .campo label {
  padding: 7px;
  margin-right: 5px;
  font-weight: lighter;
  font-size: 1.3rem;
}

body main .card .campo input {
  border-width: 0px;
  border-radius: 2px;
  outline: none;
  padding: 5px;
  min-height: 30px;
  background-color: #00796B;
  font-size: 1.1rem;
  text-align: center;
  color: #fff;
  min-width: 200px;
}

body main .card .containerRadioCheck {
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  background: #00796B;
  min-width: 200px;
}

body main .card .containerRadioCheck .campoRadioCheck {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px;
}

body main .card .containerRadioCheck .campoRadioCheck label {
  margin-left: 5px;
  color: #fff;
}

p {
  padding: 10px;
  font-size: 1.2rem;
  color: #fff;
}

input[type=submit] {
  background-color: #fff;
  color: #00796B;
  min-height: 42px;
  min-width: 100px;
  font-weight: bold;
  border-width: 0px;
  border-radius: 3px;
  font-size: 1rem;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

span {
  color: #FFEE58;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
  max-width: 200px;
  min-height: 35px;
}
