main
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    form
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        p
            margin: 0px
            margin-top: 20px
        .campo
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            label
                margin-right: 5px
        .containerRadioCheck 
            margin: 10px
            padding: 10px
            border: 1px solid black 
            min-width: 200px      
            .campoRadioCheck
                display: flex
                flex-direction: row
                align-items: center

span
    color: red
    font-weight: bold
    padding: 5px