main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

main h1 {
  font-size: 2.6rem;
  color: #263238;
  text-align: center;
}

main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  min-width: 500px;
}

@media only screen and (max-width: 768px) {
  main .container {
    min-width: 200px;
  }
}

main .container .show-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main .container .show-container input {
  width: 100%;
  min-height: 70px;
  border-width: 0;
  outline: 0;
  background: #ECEFF1;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  padding-right: 20px;
  color: #263238;
}

main .container .buttons-container {
  min-height: 300px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btnPrincipal {
  background-color: #263238;
  min-height: 50px;
  min-width: 50px;
  color: #fff;
  border-width: 0px;
  outline: 0;
  font-size: 1.2rem;
}

.btnOperation {
  background-color: #37474F;
  min-height: 50px;
  min-width: 50px;
  color: #fff;
  border-width: 0px;
  outline: 0;
  font-size: 1.2rem;
}

.btnAccent {
  background-color: #03DAC6;
  min-height: 50px;
  min-width: 50px;
  color: #fff;
  border-width: 0px;
  outline: 0;
  font-size: 1.2rem;
}

.btnRed {
  background-color: #E53935;
  min-height: 50px;
  min-width: 50px;
  color: #fff;
  border-width: 0px;
  outline: 0;
  font-size: 1.2rem;
}

.btnOrange {
  background-color: #FFB300;
  min-height: 50px;
  min-width: 50px;
  color: #fff;
  border-width: 0px;
  outline: 0;
  font-size: 1.2rem;
}

.btnGrey {
  background-color: #607D8B;
  min-height: 50px;
  min-width: 50px;
  color: #fff;
  border-width: 0px;
  outline: 0;
  font-size: 1.2rem;
}
