body {
  font-family: 'Lato', sans-serif;
  background: #7A95DE;
}

body main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 50px;
  border-radius: 3px;
  color: #7A95DE;
}

body main .container p {
  font-size: 1.4rem;
  font-weight: bold;
}

body main .container p b {
  font-size: 1.1rem;
  color: rgba(122, 149, 222, 0.6);
}

body main .container span {
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
  padding: 15px 30px;
  margin-top: 20px;
}

body main .container .regla {
  color: rgba(255, 82, 82, 0.7);
}

body main .container #encabezadoRegla {
  color: rgba(255, 82, 82, 0.9);
  font-size: 1.4rem;
}

body main .container #containerButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body main .container img {
  height: 200px;
}

.boton {
  padding: 5px;
  min-height: 45px;
  min-width: 150px;
  font-size: 1.1rem;
  border-width: 0px;
  background: #7A95DE;
  color: #fff;
  outline: none;
  border-radius: 3px;
  margin-top: 20px;
}

#separador {
  width: 20px;
}
